.artist_show {
  margin-top: 50px;
  .img_artist {
    position: absolute;
    top: 13vh;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border: solid white 5px;
    .profile_avatar {
      width: 100%;
    }
  }
  .img_artist img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
  }
  .card_about {
    padding-top: 30px;
  }
  .card_artist {
    text-align: center;
    margin-top: 30px;
    .bloc_detail {
      padding-top: 30px;
      span {
        border: 2px solid #908e86;
        padding: 14px 17px;
        color: #908e86;
        border-radius: 30px;
        background-color: white;
        i {
          font-size: 25px;
        }
      }
      .label_icon {
        font-weight: bold;
        font-size: 15px;
        margin-top: 20px;
      }
    }
  }
  .card_reviews {
    margin-top: 60px;
    text-align: center;
    .all_reviews {
      margin-top: 30px;
      .review {
      }
    }
  }
  .card_booking {
    margin-top: 30px;
    text-align: center;
    .book_btn {

    }
  }
}
