.list_bookings {
  margin-top: 110px;
  .card-booking {
    padding: 20px 20px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      background: #ececec;
    }
    .book-name {
      h1 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .recap-booking {

    }
    .delete-booking {
      text-align: center;
      i {
        font-size: 30px;
      }
    }
  }
}
