  <div class="form_review">
    <h1>Write your Review</h1>
    <%= simple_form_for [@lastbooking] do |f| %>
    <%= f.input :review %>
    <%= f.input :rating, collection: 1..5 %>
    <%= f.submit "Confirm Review", class: "btn btn-success" %>
    <% end %>
  </div>
